@charset "ISO-8859-1";
html {
  background-color: #E3E0E0;
}
.archive{
	width: 320px;
	height: 100px;
	background: #F0F0F0;
	color: black;
	top: 53%;
	left: 64%;
	position: relative;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 20px 20px;
}
.archive p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.archive input{
	width: 100%;
	margin-bottom: 20px;	
}

.archive input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.archive input[type="submit"]
{
	border: none;
	height: 40px;
	background: #fff;
	color: black;
	font-size: 18px;
	border-radius: 20px;
	
}

.archive input[type="submit"]:hover
{
	cursor: pointer;
	background: #E3E0E0;
	color: black;
	
}

.archive a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: black;
	
}

.archive a:hover {
	color: darkgrey;
	
	
}
.archive1{
	width: 320px;
	height: 100px;
	background: #F0F0F0;
	color: black;
	margin-bottom: 100px;
	position: relative;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 20px 20px;
}
.archive1 p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.archive1 input{
	width: 100%;
	margin-bottom: 20px;	
}

.archive1 input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.archive1 input[type="submit"]
{
	border: none;
	height: 40px;
	background: #fff;
	color: black;
	font-size: 18px;
	border-radius: 20px;
	
}

.archive1 input[type="submit"]:hover
{
	cursor: pointer;
	background: #E3E0E0;
	color: black;
	
}

.archive1 a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: black;
	
}

.archive1 a:hover {
	color: darkgrey;
	
}

.box1, .box2, .box3, .box4 {
    float: left;
    width: 23%;
    margin-right: 2%;
    margin-top: -1%;
    padding: 20px;
    background: #eee;
    box-shadow: 10px 10px 15px silver;
    box-sizing: border-box;
}
.box4 {
     margin-right: 0;
}
.task1, .task2, .task3, .task4 {
    float: left;
    width: 23%;
    height: 22%;
    margin-right: 2%;
    margin-top: 1%;
    padding: 149px;
    background: #eee;
    box-sizing: border-box;
    box-shadow: 10px 10px 15px silver;
}
.task4 {
     margin-right: 0;
}



section,
aside {
	border: 2px solid #d7d7d7;
	padding: 5px;
	width: 320px;
	height: 335px;
	margin-left: -143px;
    margin-top: -138px;
}

.rechteck1 {
    background-color: #A3F5A8;
    position: absolute;
    width: 123px;
    height: 9px;
    bottom: -25px;
    left: 119px;
    border: 1px solid #d7d7d7;
    text-align: center;
    border-radius: 80px;
}
.rechteck2 {
    background-color: #FFDEAD;
    position: absolute;
    width: 123px;
    height: 9px;
    bottom: 190px;
    left: 119px;
    border: 1px solid #d7d7d7;
    text-align: center;
    border-radius: 80px;
}
.rechteck3 {
    background-color:#A3F5A8;
    position: absolute;
    width: 123px;
    height: 9px;
    bottom: -22px;
    left: 491px;
    border: 1px solid #d7d7d7;
    text-align: center;
    border-radius: 80px;
}
.rechteck4 {
    background-color: #FFDEAD;
    position: absolute;
    width: 123px;
    height: 9px;
    bottom: 190px;
    left: 491px;
    border: 1px solid #d7d7d7;
    text-align: center;
    border-radius: 80px;
}
.rechteck5 {
    background-color: #FAFAD2;
    position: absolute;
    width: 123px;
    height: 9px;
    bottom: 190px;
    left: 870px;
    border: 1px solid #d7d7d7;
    text-align: center;
    border-radius: 80px;
}
.rechteck6 {
    background-color: #FAFAD2;
    position: absolute;
    width: 123px;
    height: 9px;
    bottom: -22px;
    left: 870px;
    border: 1px solid #d7d7d7;
    text-align: center;
    border-radius: 80px;
}
.rechteck7 {
    background-color: #FFDEAD;
    position: absolute;
    width: 123px;
    height: 9px;
    bottom: -158px;
    left: 870px;
    border: 1px solid #d7d7d7;
    text-align: center;
    border-radius: 80px;
}
.rechteck8 {
    background-color:#A3F5A8;
    position: absolute;
    width: 123px;
    height: 9px;
    bottom: -158px;
    left: 491px;
    border: 1px solid #d7d7d7;
    text-align: center;
    border-radius: 80px;
}


.profiletask {
	margin-left: 20px;
	margin-top: 90px;
	position: absolute;
}
.profiletask1 {
	margin-left: 390px;
	margin-top: 90px;
	position: absolute;
}
.profiletask2 {
	margin-left: 770px;
	margin-top: 90px;
	position: absolute;
}
.profiletask3 {
	margin-left: 20px;
	margin-top: 300px;
	position: absolute;
}
.profiletask4 {
	margin-left: 390px;
	margin-top: 300px;
	position: absolute;
}
.profiletask5 {
	margin-left: 770px;
	margin-top: 300px;
	position: absolute;
}
.profiletask6 {
	margin-left: 1150px;
	margin-top: 300px;
	position: absolute;
}
.profiletask7 {
	margin-left: 1150px;
	margin-top: 90px;
	position: absolute;
}
.profiletask8 {
	margin-left: 20px;
	margin-top: 440px;
	position: absolute;
}
.profiletask9 {
	margin-left: 770px;
	margin-top: 440px;
	position: absolute;
}
.profiletask10 {
	margin-left: 1150px;
	margin-top: 440px;
	position: absolute;
}
.profiletask11 {
	margin-left: 390px;
	margin-top: 440px;
	position: absolute;
}
/* add and settings */
.addnewtask img {
    margin-left: -1179px;
    margin-top: -2px;
    width: 37px;
    height: 37px;
    position: absolute;
}

.addnewtask1 img {
    margin-left: -800px;
    margin-top: -2px;
    width: 37px;
    height: 37px;
    position: absolute;
}
.addnewtask2 img {
    margin-left: -423px;
    margin-top: -2px;
    width: 37px;
    height: 37px;
    position: absolute;
}
.addnewtask3 img {
    margin-left: -48px;
    margin-top: -2px;
    width: 37px;
    height: 37px;
    position: absolute;
}




/* Background Pop-Up-Window*/
.list_addnewtaskBlock {
	display: none;
	position: fixed; 
	z-index: 4;
	padding-top: 150px;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0, 0, 0, 0.6);
}

/* Pop-Up-Window Content */
.addnewtaskBlock {
	position: relative;
	background-color: #F0F0F0;
	margin: auto;
	padding: 0px;
	border: 1px solid #707070;
	border-radius: 5px;
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Background Pop-Up-Window*/
.navigation_addnewtaskBlock {
	display: none;
	position: fixed; 
	z-index: 4;
	padding-top: 150px;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0, 0, 0, 0.6);
}

/* Pop-Up-Window Content */
.addnewtaskBlock {
	position: relative;
	background-color: #F0F0F0;
	margin: auto;
	padding: 0px;
	border: 1px solid #707070;
	border-radius: 5px;
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

textarea {
	background-color: white;
	border: none;
	border-radius: 10px;
	position: absolute;
	margin: 68.575px -5px 0px;
    width: 234px;
    height: 84px;
}

textarea:focus {
	border: thin #707070;
	border-radius: 5px;
}
/*Datum*/
form {
	width: 5em;
}

.tasksHome input {
	padding: .5em;
	background-color: #fffbf0;
	border: 1px solid #d7d7d7;
	width: 10em;
	height: 1em;
	position: absolute;
	margin-left: 3px;
    margin-top: 33px;
}

label {
	display: inline-block;
	width: 3em;
	margin-bottom: 1em;
	line-height: 1em;
	text-align: right;

}

/* ArchiveButtons */
/*all items */
* {
	font-family: "Times New Roman";
	font-size: 15px;
	color: #707070;
}

.category_socialmedia {
    background-color: #F0F0F0;
    text-align: left;
    border: solid 1px #707070;
    border-radius: 5px;
    color: #707070;
    width: 104px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 6px;
    padding-left: 6px;
}

.category_socialmedia img {
	width: 20px;
	height: 20px;
	position: absolute;
	margin: 5px 8px;
}

/* navigation*/
.socialmedia_navigation nav {
	width: 100%;
	height: 30px;
	margin-top: -45px;
}

.socialmedia_navigation nav ul li {
	list-style: none;
	position: relative;
	z-index: 2;
	float: right;
}

.socialmedia_navigation nav ul li a { 
	text-decoration: none;
	display: flex;
	font-family: "Times New Roman";
	color: #707070;
	font-size: 20px;
	cursor: pointer;
	float: left;
	margin: 0px 10px;
}

/* add and settings */
.socialmedia_navigation img{
	margin-top: -3px;
	width: 25px;
	height: 25px;
	margin: 0px 5px;
}
/* Pop-Up-Window Content */
.addBlock {
	position: relative;
	background-color: #F0F0F0;
	margin: auto;
	padding: 0px;
	border: 1px solid #707070;
	border-radius: 5px;
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Schließ-Button */
.close {
	color: #707070;
	float: right;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}
popupHeader {
	text-align: center;
	padding: 5px 15px;
	color: #707070;
	font-size: 28px;
	letter-spacing: 2px;
}

.popupHeader img {
	width: 35px;
	height: 35px;
	margin-bottom: -10px;
}

.popupBody {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 2px 15px;
	text-align: left;
	font-size: 20px;
	color: #707070;
	/* Style the Image Used to Trigger the Modal */
}
/* Infocards */

.tooltip2 {
	color: #707070;
	text-decoration: underline;
	cursor: help;
	position: relative;
}

.tooltip2 span[role=tooltip] {
	display: none;
}

.tooltip2:hover span[role=tooltip] {
	display: block;
	position: absolute;
	bottom: 1em;
	left: 2em;
	width: 15em;
	padding: 0.5em;
	z-index: 100;
	color: #707070;
	background-color: #eee;
	border: solid 1px #707070;
	border-radius: 0.2em;
}
