@charset "ISO-8859-1";
/*all items */
* {
	font-size: 20px;
	font-family: "Times New Roman";
	color: #707070;
}

/*settings leiste*/
ul#navigation {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  
}
ul#navigation li {
	padding: -15px;
	margin: 0px;
	display: inline;
}

ul#navigation li a:link {
    border: 1px solid #cab9b9;
    background-color: #dfdfdf;
    padding: 2px 5px 2px 5px;
    font-size: 18px;
    color: #847c7c;
    font-family: "Times New Roman";
    text-decoration: none;
    box-shadow: 3px 3px 5px silver;
}

ul#navigation li a:hover {
	border: 1px solid #c0c0c0;
	background-color: #707070;
	padding: 2px 5px 2px 5px;
	color: #fff;
}

/* Kreise */
.inboxbox #kreis1 {
    background-color: #A3F5A8;
    position: absolute;
    width: 29px;
    height: 29px;
    top: 13px;
    left: 15px;
    border: 1px solid #aca9a9;
    border-radius: 100px;
}
.inboxbox1 #kreis2 {
    background-color: #A3F5A8;
    position: absolute;
    width: 29px;
    height: 29px;
    top: 14px;
    left: 15px;
    border: 1px solid #aca9a9;
    border-radius: 100px;
}
.inboxbox2 #kreis3 {
    background-color: #FFDEAD;
    position: absolute;
    width: 29px;
    height: 29px;
    top: 13px;
    left: 15px;
    border: 1px solid #aca9a9;
    border-radius: 100px;
}
/* Message-Icon*/
.inboxbox #message img {
    display: block;
    width: 30px;
    position: absolute;
    margin-top: -11%;
    margin-left: -7%;
}
.inboxbox1 #message img {
    display: block;
    width: 30px;
    position: absolute;
    margin-top: -11%;
    margin-left: -7%;
}
.inboxbox2 #message img {
    display: block;
    width: 30px;
    position: absolute;
    margin-top: -11%;
    margin-left: -7%;
}
/* Setting Dots */
.inboxbox3 #settings img {
    display: block;
    width: 41px;
    position: absolute;
    margin-top: -11%;
    margin-left: 78%;
}
.inboxbox #settings img {
    display: block;
    width: 31px;
    position: absolute;
    margin-top: -15%;
    margin-left: 79%;
}
.inboxbox1 #settings img {
    display: block;
    width: 31px;
    position: absolute;
    margin-top: -15%;
    margin-left: 79%;
}
.inboxbox2 #settings img {
    display: block;
    width: 31px;
    position: absolute;
    margin-top: -15%;
    margin-left: 79%;
}

/* Boxen*/
.inboxbox {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    margin: 20px 420px;
    width: 570px;
    height: 210px;
    font-size: 20px;
    font-weight: 450;
    padding: 10px 5px;
    background: #F0F0F0;
    border-bottom: 1px solid #dddddd;
}
.inboxbox1 {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    margin: 20px 110px;
    width: 540px;
    height: 405px;
    position: absolute;
    margin-left: 51%;
    margin-top: -36%;
    cursor: pointer;
    font-size: 20px;
    font-weight: 450;
    padding: 10px 5px;
    background: #F0F0F0;
    border-bottom: 1px solid #dddddd;
    box-shadow: 10px 10px 15px silver;
}


table.inboxbox tbody tr {
    width: 31%;
    background-color: white;
    padding: 74px;
    border: 2px solid #aca9a9;
    margin: 8px;
    position: absolute;
    margin-left: 4%;
    margin-top: 3%;
    box-shadow: 10px 10px 15px silver;
}

.notifi-item img {
    display: block;
    width: 112px;
    position: absolute;
    margin-top: -9%;
    margin-left: 47%;
    transform: rotate(30deg);
    opacity: 0.1;
}

table.notifi-item1 {
    width: -15px;
    position: absolute;
    margin-top: 3%;
    margin-left: 7%;
}

.backIcon {
	position: absolute;
	margin: 0px 5px;
}

.backIcon img {
	width:25px;
	height: 25px;
}