/*all items*/
* {
	font-size: 20px;
	font-family: "Times New Roman";
	color: #707070;
}

/* headers */
h1 {
	text-align: center;
	font-weight: bold;
	padding: 20px;
	font-size: 35px;
	letter-spacing: 2px;
}

h2 {
	text-align: left;
	font-weight: 500;
	font-size: 28px;
	letter-spacing: 2px;
	padding: 0px 3px;
}

h3 {
	text-align: left;
	padding: 20px;
	font-size: 22px;
	letter-spacing: 2px;
}

h4 {
	text-align: left;
	font-size: 20px;
}

/* background 1*/
.background1 {
	background-color: #F0F0F0; /* primary background */
}

/* background 2*/
.background2 {
	background-color: #E3E0E0; /* secondary background */
	text-align: center;
	padding: 40px 40px;
	margin-top: 0px;
}

/*First box */
.firstBox {
	text-align: left;
	background-color: #F0F0F0;
	margin-left: 120px;
	margin-right: 870px;
	color: #707070;
	position: relative;
	border-radius: 5px;
	margin-top: -35px;
}

.firstBox .firstname {
	padding: 20px;
	margin: -27px;
	text-align: center;
	margin-left: 45px;
	text-decoration: underline;
}

.firstBox .workspace {
	padding: 20px;
	margin: -27px;
	text-align: center;
	margin-left: 0px;
	text-decoration: underline;
}

.firstBox .information img {
	width: 20px;
	height: 20px;
	margin: -37px 315px;
}

.firstBox .favorites img {
	width: 24px;
	height: 24px;
	margin: -40px 300px;
}

.firstBox .status img {
	width: 16px;
	height: 16px;
	margin: -34px 349px;
}

.firstBox h3 {
	padding: 15px;
	font-size: 22px;
	letter-spacing: 2px;
	margin: 0px 5px;
	text-align: left;
}

.firstBox nav {
	width: 270px;
	height: 0px;
	letter-spacing: 2px;
	padding-top: 10px;
}

.firstBox nav ul {
	float: right;
	flex-direction: column;
	padding: 0px 0px;
}

.firstBox nav ul li a { /* menu bar a */
	text-decoration: none;
	display: flex;
	font-family: "Times New Roman";
	color: #707070;
	font-size: 30px;
	padding: 0px 0px;
	cursor: pointer;
}

.firstBox nav ul li ul { /* Downdrop */
	text-decoration: none;
	display: none;
	position: absolute;
}

.firstBox nav ul li:hover ul {
	display: block;
}

.firstBox nav ul li ul li {
	width: 185px;
	height: 50px;
	margin: 15px -185px;
	background-color: #F0F0F0;
}

.firstBox nav ul li ul li a {
	padding: 10px 25px;
	font-size: 22px;
}

.firstBox nav ul li ul li a:hover {
	background-color: #d1d1d1;
}

.firstBox img {
	width: 20px;
	height: 20px;
	position: absolute;
	margin: 0px -5px;
}

nav ul li {
	list-style: none;
}

.headliner_block {
	text-align: left;
	background-color: #E3E0E0;
	padding: 60px;
	margin-left: 0px;
	margin-right: 0px;
}

/* logo */
.logo img {
	width: 9%;
	float: left;
	border-radius: 90px;
	margin: -53px -30px;
}

.project {
	text-align: left;
	background-color: #F0F0F0;
	margin-left: 120px;
	margin-right: 840px;
	color: #707070;
	position: relative;
	border-radius: 5px;
	margin-top: -34px;
}

.project h3 {
	padding: 15px;
	font-size: 22px;
	letter-spacing: 2px;
	margin: 0px 25px;
}

.project nav {
	width: 290px;
	height: 65px;
	letter-spacing: 2px;
	padding-top: 10px;
}

.project nav ul {
	float: right;
	flex-direction: column;
	padding: 0px 0px;
}

.project nav ul li { /* menu bar */
	list-style: none;
	float: left;
	list-style: none;
	position: relative;
	z-index: 2;
}

.project nav ul li a { /* menu bar a */
	text-decoration: none;
	display: flex;
	font-family: "Times New Roman";
	color: #707070;
	font-size: 30px;
	padding: 0px 0px;
	cursor: pointer;
}

.project nav ul li ul { /* Downdrop */
	text-decoration: none;
	display: none;
	position: absolute;
}

.project nav ul li:hover ul {
	display: block;
}

.project nav ul li ul li {
	width: 185px;
	height: 50px;
	margin: 15px -185px;
	background-color: #F0F0F0;
}

.project nav ul li ul li a {
	padding: 10px 25px;
	font-size: 22px;
}

.project nav ul li ul li a:hover {
	background-color: #d1d1d1;
}

.project img {
	width: 20px;
	height: 20px;
	position: absolute;
	margin: 0px -5px;
}

.secondblock {
	margin: -105px 1055px;
	width: 0px;
}

/*Menü seitlich*/

button.buttonStart {
	border: none;
	cursor: pointer;
}

dialog {
	border-radius: 0 .5rem .5rem;
	margin: 1rem;
}

.button #menuebutton {
	padding: 0.5em 1em;
	font-size: 1em;
	background-color: #F0F0F0;
	border: 1px solid #F0F0F0;
	color: #707070;
	cursor: pointer;
}

dialog {
	width: 20em;
	background-color: #F0F0F0;
	border: 1px solid #707070;
	position: absolute;
	top: 10%;
	right: 80%;
	margin: auto;
	padding: 1em;
	display: none;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.6);
}

dialog[open] {
	display: block;
}

#Abbruch {
	position: absolute;
	top: 2%;
	right: 5%;
	cursor: pointer;
}
#punkte ul {
	margin-top:10px;

}
#punkte ul li {
	float:left;
	width:260px;
	padding-left:20px;
	font-size:16px;
	color:#333;
	font-weight:bold;
	margin:5px 0;
	padding-bottom:1px;
}

ul.navMenu li{
	margin-top:5px;
}

ul.navMenu li a{
	text-decoration: none;
}

ul.navMenu li a:hover{
	font-weight:bold;
}


/*search */
.searchbox {
	width: 300px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}

.searchbox input#search {
	width: 285px;
	height: 50px;
	background: #F0F0F0;
	border: none;
	font-size: 20px;
	float: left;
	color: #707070;
	padding-left: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top:-30px;
}

.searchTable {
	background:#F0F0F0;
	border-radius:5px;
	position:absolute;
	margin:85px -1px;
	border: solid 2px #707070;
	width: 300px;
}

.searchTable td {
	font-weight: bold;
}

.searchTable td a {
	text-decoration: none;
	cursor: pointer;
}

.defaultSearch {
	position: absolute;
	margin: 90px 5px;
	font-weight: bold;
}

.searchbox input#search::-webkit-input-placeholder {
	color: #F0F0F0;
}

.searchbox input#search::-moz-placeholder { /* Firefox 18- */
	color: #F0F0F0;
}

.searchbox input#search::-moz-placeholder { /* Firefox 19+ */
	color: #F0F0F0;
}

.searchbox input#search::-ms-input-placeholder {
	color: #F0F0F0;
}

.searchbox .searchicon img {
	position: absolute;
	top: 50%;
	margin-left: 250px;
	margin-top: 37px;
	z-index: 1;
	width: 40px;
	height: 40px;
}

/*.user */
.user img {
	width: 40px;
	height: 40px;
	margin: 30px 310px;
	padding: 5px 8px;
	cursor: pointer;
	background-color: #F0F0F0;
	border-radius: 100%;
	position: absolute;
}

/* navigation*/
.mainmenu nav {
	height: 80px;
	letter-spacing: 2px;
	background-color: #F0F0F0;
	padding: 10px 0px;
}

.mainmenu nav ul {
	float: left;
	flex-direction: column;
	background-color: #F0F0F0;
	padding: 0px 0px;
}

.mainmenu nav ul li { /* menu bar */
	float: left;
	list-style: none;
	position: relative;
	z-index: 2;
}

.mainmenu nav ul li a { /* menu bar a */
	text-decoration: none;
	display: flex;
	font-family: "Times New Roman";
	color: #707070;
	font-size: 25px;
	padding: 0px 45px;
	cursor: pointer;
}

.mainmenu nav ul li a img {
	width: 50px;
	height: 50px;
	margin-top: -8px;
	margin-left: -25px;
}

/* add and settings */
.mainmenu nav .secondNavigation ul { /* menu bar a */
	float: right;
	flex-direction: column;
	background-color: #F0F0F0;
	padding: 0px 0px;
}

.mainmenu nav .secondNavigation ul li a { /* menu bar a */
	text-decoration: none;
	display: flex;
	font-family: "Times New Roman";
	color: #707070;
	font-size: 25px;
	padding: 0px 10px;
	cursor: pointer;
}

.mainmenu nav .secondNavigation img {
	margin: 0px 15px;
	margin-top: -3px;
	width: 35px;
	height: 35px;
}

.mainmenu nav .secondNavigation .add img {
	width: 30px;
	height: 30px;
	margin-top: 0px;
}

/* Background Pop-Up-Window*/
.profile_popup {
	display: none;
	position: fixed; 
	z-index: 4;
	padding-top: 150px;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0, 0, 0, 0.6);
}

/* Pop-Up-Window Content */
.popupBlock {
	position: relative;
	background-color: #F0F0F0;
	margin: auto;
	padding: 0px;
	border: 1px solid #707070;
	border-radius: 5px;
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Background Pop-Up-Window*/
.navigation_addBlock {
	display: none;
	position: fixed;
	z-index: 4;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.6);
}

/* Pop-Up-Window Content */
.addBlock {
	position: relative;
	background-color: #F0F0F0;
	margin: auto;
	padding: 2px;
	border: 1px solid #707070;
	border-radius: 5px;
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Schließ-Button */
.close {
	color: #707070;
	float: right;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}

.popupBody .aButtons2{
	font-size: 20px;
	background: #fff;
	border-style: solid;
	border-color: #fff;
	border-width: 0px;
	border-radius: 5px;
	padding: 1px 5px;
	cursor: pointer;
	text-decoration: none;
}

.popupBody .aButtons2:hover{
	outline: none;
	background: #E3E0E0;
	color: #707070;
	border-color: #E3E0E0;
}

.popupBlock button {
	font-size: 20px;
	background: #fff;
	border-style: solid;
	border-color: #fff;
	border-width: 0px;
	border-radius: 5px;
	padding: 1px 5px;
	cursor: pointer;
}

.popupBlock button:hover {
	outline: none;
	background: #E3E0E0;
	color: #707070;
	border-color: #E3E0E0;
}

.popupHeader {
	text-align: center;
	padding: 5px 15px;
	color: #707070;
	font-size: 28px;
	letter-spacing: 2px;
}

.popupHeader img {
	width: 35px;
	height: 35px;
	margin-bottom: -10px;
}

.popupBody {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px 15px;
	text-align: left;
	font-size: 20px;
	color: #707070;
/* Style the Image Used to Trigger the Modal */
}

.popupBody button {
	margin: 2px 60px;
	cursor: pointer
}

.popupBody button:hover {
	outline: none;
	background: #E3E0E0;
	color: #707070;
	border-color: #E3E0E0;
}

.popupBody button {
	font-size: 20px;
	background: #fff;
	border-style: solid;
	border-color: #fff;
	border-width: 0px;
	border-radius: 5px;
	padding: 1px 5px;
	cursor: pointer;
}

.popupBody img {
	width: 55px;
	height: 55px;
	position: absolute;
}

.popupFooter button {
	margin: 5px;
	border-width: 5px;
}

.popupBody input, select {
	background-color: white;
	border: none;
	border-radius: 5px;
	height: 30px;
}

.popupBody select {
	background-color: white;
	border: none;
	border-radius: 5px;
	height: 30px;
	margin: 5px 0px;
}

.popupBody .listBody fieldset {
	border: none;
	border-radius: 5px;
	height: 25px;
	margin: 5px 0px;
}

.popupBody fieldset {
	border: none;
	border-radius: 5px;
	height: 25px;
	margin: 5px 0px;
}

.popupBody input,textarea:focus {
	border: none;
	border-radius: 5px;
	margin: 5px 5px;
}

.popupInfo img {
	width:20px;
	height: 20px;
	margin-top: -15px;
}

/* PopUp Add Task */
.popupBody_list {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 2px 15px;
	text-align: left;
	font-size: 20px;
	color: #707070;
}

.popupBody_list input {
	background-color: white;
	border: none;
	border-radius: 5px;
	height: 30px;
}

.popupBody_list select {
	background-color: white;
	border: none;
	border-radius: 5px;
	height: 30px;
	margin: 5px 5px;
}

.popupBody_list .listBody fieldset {
	border: none;
	border-radius: 5px;
	height: 25px;
	margin: 5px 0px;
}

.popupBody_list fieldset {
	border: none;
	border-radius: 5px;
	height: 25px;
	margin: 5px 0px;
}

.popupBody_list input {
	border: none;
	border-radius: 5px;
	margin: 5px 5px;
}

.popupBody_list textarea:focus {
	border: none;
	border-radius: 5px;
	margin: 2px 15px;
	margin-left: 2px;
}

.popupBody_list textarea {
	border: none;
	width: 58%;
}

.popupBody_list input#file-upload-button {
	font-size: 18px;
}

.popupBody_list button {
	margin: 2px 60px;
	cursor: pointer
}

.popupBody_list button:hover {
	outline: none;
	background: #E3E0E0;
	color: #707070;
	border-color: #707070;
}

.popupBody_list button {
	font-size: 20px;
	background: #fff;
	border-style: solid;
	border-color: #E3E0E0;
	border-width: 2px;
	border-radius: 5px;
	padding: 1px 5px;
	cursor: pointer;
	margin-left: 190px;
}

/* Infocards */
.tooltip {
	color: #707070;
	cursor: fixed;
	position: relative;
	font-size: 25px;
	font-family: "Times New Roman";
}

.tooltip span[role=tooltip] {
	display: none;
}

.tooltip:hover span[role=tooltip] {
	display: block;
	position: absolute;
	bottom: 1em;
	left: 2em;
	width: 15em;
	padding: 0.5em;
	z-index: 100;
	color: #707070;
	background-color: #eee;
	border: solid 1px #707070;
	border-radius: 0.2em;
}

dfn {
	font-style: normal;
}

.header2 {
	text-align: center;
	padding: 5px 15px;
	color: #707070;
	font-size: 28px;
	letter-spacing: 2px;
}

