/* list table*/

.list-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9en;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.list-table thead tr {
	background-color: #E3E0E0;
	color: #707070;
	text-align: left;
	font-weight: bold;
}

.list-table th, .list-table td {
	padding: 30px 120px;
}

.list-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.list-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.list-table tbody tr:last-of-type {
	border-bottom: 2px solid #707070;
}

.list-table tbody tr.active-row {
	font-weight: bold;
	color: #707070;
}

/* list navigation*/
.list_navigation nav {
	width: 100%;
	height: 30px;
	margin-top: -63px;
}

.list_navigation nav ul li {
	list-style: none;
	position: relative;
	z-index: 2;
	float: right;
}

.list_navigation nav ul li a {
	text-decoration: none;
	display: flex;
	font-family: "Times New Roman";
	color: #707070;
	font-size: 20px;
	cursor: pointer;
	float: left;
	margin: 0px 10px;
}

/* add and settings */
.list_navigation img {
	margin-top: -3px;
	width: 25px;
	height: 25px;
	margin: 0px 5px;
}









/* Pop-Up-Window Content New Task */
.popupBlock {
	position: relative;
	background-color: #F0F0F0;
	margin: auto;
	padding: 0px;
	border: 1px solid #707070;
	border-radius: 5px;
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

.popupHeader {
	text-align: center;
	padding: 5px 15px;
	color: #707070;
	font-size: 28px;
	letter-spacing: 2px;
}

.popupBody {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 2px 15px;
	text-align: left;
	font-size: 20px;
	color: #707070;
	/* Style the Image Used to Trigger the Modal */
}

.addBlock .popupFooter button {
    margin-right: 30px;
    border-width: 5px;
}

.addBlock button {
	font-size: 20px;
	background: #fff;
	border-style: solid;
	border-color: #fff;
	border-width: 0px;
	border-radius: 5px;
	padding: 1px 5px;
	cursor: pointer;
} 

.addBlock button:hover{
	outline: none;
	background: #E3E0E0;
	color: #707070;
	border-color: #E3E0E0;
}