/*all items */
* {
	font-family: "Times New Roman";
	font-size: 20px;
	color: #707070;
}

.category_list {
	background-color: #F0F0F0;
	text-align: left;
	border: solid 1px #707070;
	border-radius: 5px;
	color: #707070;
	width: 190px;
	height: 30px;
	font-size: 20px;
	font-weight: 500;
	padding-top: 6px;
	padding-left: 6px;
}

.category_list img {
	width: 20px;
	height: 20px;
	position: absolute;
	margin: 5px 8px;
}

/* navigation*/
.list_navigation nav {
	width: 100%;
	height: 30px;
	margin-top: -45px;
}

.list_navigation nav ul li {
	list-style: none;
	position: relative;
	z-index: 2;
	float: right;
}

.list_navigation nav ul li a {
	text-decoration: none;
	display: flex;
	font-family: "Times New Roman";
	color: #707070;
	font-size: 20px;
	cursor: pointer;
	float: left;
	margin: 0px 10px;
}

/* add and settings */
.list_navigation img {
	margin-top: -3px;
	width: 25px;
	height: 25px;
	margin: 0px 5px;
}

table.list {
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	margin: 0px 110px;
}

table.list thead th {
	background: #E3E0E0;
	border-bottom: 1px solid #dddddd;
	padding: 5px 5px;
	width: 80px;
}

table.list tbody {
	background: #F0F0F0;
}

table.list tbody td {
	font-size: 20px;
	font-weight: 450;
	padding: 10px 5px;
}

table.list tbody img {
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.popupHeader {
	text-align: center;
	padding: 5px 15px;
	color: #707070;
	font-size: 28px;
	letter-spacing: 2px;
}

.popupHeader img {
	width: 35px;
	height: 35px;
	margin-bottom: -10px;
}

.popupBody_list {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 2px 15px;
	text-align: left;
	font-size: 20px;
	color: #707070;
}

.popupBody_list input {
	background-color: white;
	border: none;
	border-radius: 5px;
	height: 30px;
}

.popupBody_list select {
	background-color: white;
	border: none;
	border-radius: 5px;
	height: 30px;
	margin: 5px 5px;
}

.popupBody_list .listBody fieldset {
	border: none;
	border-radius: 5px;
	height: 25px;
	margin: 5px 0px;
}

.popupBody_list fieldset {
	border: none;
	border-radius: 5px;
	height: 25px;
	margin: 5px 0px;
}

.popupBody_list input {
	border: none;
	border-radius: 5px;
	margin: 5px 55px;
}

.popupBody_list textarea:focus {
	border: none;
	border-radius: 5px;
	margin: 2px 15px;
	margin-left: 2px;
}

.popupBody_list textarea {
	margin-left: 2px;
}

.popupBody_list input#file-upload-button {
	font-size: 19px;
}

.popupBody_list button {
	margin: 2px 60px;
	cursor: pointer
}

.popupBody_list button:hover {
	outline: none;
	background: #E3E0E0;
	color: #707070;
	border-color: #707070;
}

.popupBody_list button {
	font-size: 20px;
	background: #fff;
	border-style: solid;
	border-color: #E3E0E0;
	border-width: 2px;
	border-radius: 5px;
	padding: 1px 5px;
	cursor: pointer;
	margin-left: 190px;
}

.aButtons {
	font-size: 20px;
	background: #fff;
	border-style: solid;
	border-color: #E3E0E0;
	border-width: 2px;
	border-radius: 5px;
	padding: 1px 5px;
	cursor: pointer;
	margin-left: 190px;
	text-decoration: none;
	margin: 4px;
}

.aButtons:hover {
	outline: none;
	background: #E3E0E0;
	color: #707070;
	border-color: #707070;
}

