body {
	font-family: Avenir, Arial, sans-serif;
}

dialog,
button {
	border-radius: 0 .5rem .5rem;
	margin: 1rem;
}

button {
	padding: 0.5em 1em;
	font-size: 1em;
	background-color: #F0F0F0;
	border: 1px solid #F0F0F0;
	color: #707070;
	cursor: pointer;
}


#start:hover,
#start:focus {
	background-color: rgb(192, 192, 192);
	transform: translateY(2px);
}

dialog {
	width: 20em;
	background-color: #F0F0F0;
	border: 1px solid #707070;
	position: absolute;
	top: 10%;
	right: 80%;
	margin: auto;
	padding: 1em;
	display: none;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.6);
}

dialog[open] {
	display: block;
}

#Abbruch {
	position: absolute;
	top: 2%;
	right: 5%;
}
#punkte ul {
	margin-top:10px;

}
#punkte ul li {
	float:left;
	width:260px;
	padding-left:20px;
	font-size:16px;
	color:#333;
	font-weight:bold;
	margin:5px 0;
	padding-bottom:1px;
}
.select-wrapper {
  position: relative;
}
.select-wrapper::before {
  font-family: fontello;
  content: url(pictures/splitButton);
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 10px;
  color: #fff;
  pointer-events: none;
}