@charset "ISO-8859-1";
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popup img {
    position: absolute;
    height: 95px;
    width: 93px;
    margin-top: -154px;
    margin-left: 334px;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 259px;
    background-color: #F0F0F0;
    color: #707070;
    text-align: center;
    border-radius: 6px;
    padding: 12px 0;
    position: absolute;
    z-index: 1;
    margin-top: -104px;
    margin-left: 54px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #F0F0F0 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.chip {
  display: inline-block;
  padding: 0 55px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
}

.chip img {
  float: left;
  margin: 0 10px 0 -55px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.chip1 {
  display: inline-block;
  padding: 0 55px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
}

.chip1 img {
  float: left;
  margin: 0 10px 0 -55px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.chip2 {
  display: inline-block;
  padding: 0 55px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
}

.chip2 img {
  float: left;
  margin: 0 10px 0 -55px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.chip3 {
  display: inline-block;
  padding: 0 55px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
}

.chip3 img {
  float: left;
  margin: 0 10px 0 -55px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.chip4 {
  display: inline-block;
  padding: 0 55px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
}

.chip4 img {
  float: left;
  margin: 0 10px 0 -55px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.chip5 {
  display: inline-block;
  padding: 0 55px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
}

.chip5 img {
  float: left;
  margin: 0 10px 0 -55px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.chip6 {
  display: inline-block;
  padding: 0 55px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
}

.chip6 img {
  float: left;
  margin: 0 10px 0 -55px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
