.backIcon {
	position: absolute;
	margin: 0px 5px;
}

.backIcon img {
	width:25px;
	height: 25px;
}

input#total {
	width:50px;
	border-style:none;
	background-color: #E3E0E0;
	font-weight: bold;
}

input#KWInput {
	width:60px;
	border-style:none;
	background-color: #E3E0E0;
	font-weight: bold;
}

input#totalTask,#totalHours,#totalWeek {
	width:75px;
	border-style:none;
	background-color: #E3E0E0;
	font-weight: bold;
}

.newTaskTime {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	margin-left: 275px;
	padding: 5px 0px;
	width: 60%;
}

.newTaskTime2 {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	margin-left: 114px;
	padding: 5px 0px;
	width: 84%;
}

img.taskImage {
	width: 30px; 
	height: 30px;
	margin: -8px 6px;
}

.newTime {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	margin-left: 115px;
	padding: 5px 0px;
	width: 84%;
}

table.workingtime {
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	margin: 0px 110px;
	border-collapse: collapse;
}

table.workingtime thead th {
	background: #E3E0E0;
	border-bottom: 1px solid #dddddd;
	padding: 5px 5px;
	width: 80px;
}

table.workingtime tr.week {
	background: #d9d4d4;
}


input#totalWeek {
	width:40px;
	border-style:none;
	background-color: #d9d4d4;
	font-weight: bold;
}
table.workingtime tbody {
	background: #F0F0F0;
}

table.workingtime tbody td {
	font-size: 20px;
	font-weight: 450;
	padding: 10px 5px;
}

table.workingtime tbody img {
	width: 100px;
	height: 100px;
	cursor: pointer;
}

/*Table TaskTime */
table.taskTime {
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	margin: 0px 110px;
}

table.taskTime tbody {
	background: #F0F0F0;
}

table.taskTime td {
	font-size: 20px;
	padding: 10px 5px;
	width: 84%;
}

table.taskTime tbody img {
	width: 100px;
	height: 100px;
	cursor: pointer;
}

input.newTask {
	width: 30%;
	border-style: none;
}