input#total {
	width:75px;
	border-style:none;
	background-color: #E3E0E0;
	font-weight: bold;
}

.newTime {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	width: 75%;
	margin-left: 170px;
	padding: 5px 0px;
}